@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.item-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    .item-page-grid {
        height: 70vh;
        width: 70vw;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left-column {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 6rem;

            .carousel {
                height: 100%;
                width: 65%;

                img {
                    max-width: 40vw;
                    max-height: 70vh;
                    border: 25px solid rgba(255, 255, 255, 0.9);
                }
            }
        }

        .right-column {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            padding-left: 8rem;
            flex-direction: column;

            .product-name {
                border-bottom: 1px solid white;
                padding-bottom: 0.5rem;
            }
            
            .description {
                font-family: 'Caveat', cursive;
                font-size: 2rem;
            }

            a {
                color: #FFD700;
                text-decoration: solid;
            }
        }
    }
}

