.item-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    .item-page-grid {
        height: 70vh;
        width: 70vw;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left-column {
            display: flex;
            justify-content: center;
            align-items: center;

            .carousel {
                height: 100%;
                width: 65%;

                img {
                    max-width: 40vw;
                    max-height: 70vh;
                }
            }
        }

        .right-column {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
        }
    }
}

