.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 35rem;

    h2 {
        margin: 2rem 0;
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;
    }
}