* {
    box-sizing: border-box;
}

.item-img {
    height: 80%;
    width: 100%;
}


.item-card img {
    aspect-ratio: 1 / 1.5;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all .2s ease-in-out;
    opacity: 0.8;
    
}

.item-card img:hover {
    opacity: 1;
    cursor: pointer;
    border: 1px solid #FFD700;
}

.item-card:hover:after {
  content: 'SHOP NOW';
  color: #FFD700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  cursor: pointer;
}

.item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}

.item-name {
  font-size: 1.2rem;
  font-weight: 700;
}

.item-price {
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
}

.item-info :hover {
    transform: none;
}

