.checkout-item-container {
    width: 45rem;
    display: flex;
    height: 8rem;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    .qty {
        padding: 0 2rem;
    }

    .item-total {
        padding: 0 2rem;
    }

}

